* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue;
}

main h1 {
    text-align: center;
    font-size: 48px;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 25px;
    margin-top: 20px;
}

#skills-section {
    margin-top: 25px;
    text-align: center;
}

.container {
    width: 60%;
    margin: 20px auto;
    height: 70vh;
}

.progress {
    width: 100%;
    height: 35px;
    background-color: gray;
    border-radius: 20px;
    margin: 10px 0;
}

.progress .progress-bar  {
    height: 100%;
    width: 0%;
    position: relative;
    border-radius: 10px;
    background-color: orangered;
    transition: width 5s;
}

.progress .progress-bar0  {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: orangered;
    transition: width 5s;
}

.progress .progress-bar1  {
    height: 100%;
    width: 96%;
    position: relative;
    border-radius: 10px;
    background-color: orangered;
    transition: width 5s;
}

.progress .progress-bar2  {
    height: 100%;
    width: 60%;
    position: relative;
    border-radius: 10px;
    background-color: orangered;
    transition: width 5s;
}


.progress .progress-bar3  {
    height: 100%;
    width: 40%;
    position: relative;
    border-radius: 10px;
    background-color: orangered;
    transition: width 5s;
}

.progress .progress-bar4  {
    height: 100%;
    width: 10%;
    position: relative;
    border-radius: 10px;
    background-color: orangered;
    transition: width 5s;
}

.progress .progress-bar5  {
    height: 100%;
    width: 20%;
    position: relative;
    border-radius: 10px;
    background-color: gray;
    transition: width 5s;
}



.progress-bar span {
    position: absolute;
    top: 5px;
    right: 20px;
    color: white;
}

p {
    margin-top: 20px;
    font-size: 20px;
}


