* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
 overflow: hidden;
 }

 body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
 }

 .container {
    text-align: center;
 }

 h1 {
    margin: 20px 0;
 }

 label {
    font-size: 40px;
 }

 input {
    padding: 10px 40px;
 }

 button {
    font-size: 30px;
    padding: 10px 30px;
    margin-top: 20px;
 }